a {
    text-decoration: none;
}



/*--------------------------------------------Navbar*/

header {
    margin: 0;
    min-height: 150px;
    background-color: #A96066;
    padding: 50px
}

.uppercase {
    text-transform: uppercase;
}

.nav-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: #EFD8D2;
    text-decoration: none;
}

.nav-title:hover {
    color: #2D3F62
}

.nav-break {
    color: #2D3F62
}

.logo-img {
    height: auto; 
    width: auto; 
    max-width: 90px; 
    padding-left: 40px;
    float: left;
}

.active-navbar-link {
    text-decoration: underline;
}

/*--------------------------------------------Footer*/

.footer-contact-details {
    font-family: 'Raleway', sans-serif;
    color: #2D3F62;
    font-size: 110%;
    font-weight: 600;
    padding: 5px;
    padding-left: 50px;
}

footer {
    margin: 0;
    min-height: 100px;
    background-color: #FFC5AD;
    text-decoration: none;
    padding: 30px;
}

i {
    color: #2D3F62
}

@media only screen and (max-width: 833px){
    .footer-links {
        text-align: center;
        padding-left: 50px;
        font-size: 250%;
    }
    .footer-contact-details {
        font-size: 90%;
        padding-left: 40px;
    }
}

.footer-links:hover {
    color: #A96066
}

.footer-links {
    text-align: center;
}

/*--------------------------------------------Colours*/

.bg-color-main {
    background-color: #EFD8D2;
}

/*--------------------------------------------Headings*/

.home-heading {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*--------------------------------------------Home Page*/

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 50px 50px 50px 80px;
    float: none;
}

.home-image {
    max-width: 80%;
    border: 8px solid #A96066;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}